*
!.gitattributes
!.gitignore
!LICENSE
!qmd_beamer-moloch_main.pdf
!qmd_beamer-moloch_main.qmd
!qmd_beamer-moloch_after-body.tex
!qmd_beamer-moloch_header.tex
!qmd_beamer-moloch_metainfo.tex
!README.md
!refdb.bib